.bar {
    padding: 5px 10px;
    background-color: rgba($background, 0.6);
}

.bar-window {
    background-color: transparent;
}

.bar-container {
    background-color: $surface_container;
    padding: 3px 5px;
    border-radius: 3px;
}

.music-popover-content {
    background-color: rgba($background, 0.9);
}