.quick-name {
    font-size: larger;
    font-weight: 800;
}

.uptime {
    font-size: small;
    font-weight: 300;
}

.quickframe {
    border-radius: 8px;
    border: 0px;
}

.quickbutton-right {
    &.menu {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    border-left: 1px solid $background;
}

.quickbutton {
    &.menu {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    transition: all 0.2s;
    border-radius: 8px;
    padding: 9px;
    padding-left: 15px;
}

.quickbutton-heading {
    font-size: larger;
    font-weight: 700;
}

.quickbutton-subtitle {
    font-size: smaller;
    font-weight: 400;
}

.quick-network-menu {
    padding: 10px;
}

.quicksettings-content {
    padding: 15px;
    border-radius: 8px;
    background-color: $background;
}

.active-wifi {
    background-color: $primary_container;
    color: $on_primary;
}

.quickslider {
    all: unset;

    * {
      all: unset;
    }

    & > trough,
    & > trough > highlight {
      background-color: $secondary_container;
      border-radius: 0.8rem;
      min-height: 1.8rem;
    }
  
    & > trough highlight {
      background-color: $primary;
    }
}

.quickslider-icon {
    &.upper {
      color: $on_primary;
    }
    &.lower {
      color: $on_background;
    }
}

.quickslider trough,
.quickslider trough highlight {
    background-color: $secondary_container;
    border-radius: 0.8rem;
    min-height: 2rem;
}


.quickslider trough highlight {
    background-color: $primary;
}

.n-card {
    background-color: $surface_container;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
